.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

.well .list-group {
    margin-bottom: 0px;
}

.list-group-item-info {
    color: #31708f !important;
    background-color: #d9edf7 !important;
}
 

  .modal-backdrop {
    position: absolute !important;
}

#addTerminalModal{
    position:relative;
    width:inherit;
    height:auto !important;
}

#promptTerminalModal{
    position:absolute;
    width:inherit;
    height:inherit;
}

#genericTerminalModal{
    position:absolute;
    width:inherit;
    height:inherit;
}

#TerminalManagement{
    margin-right:-15px;
    margin-left:-15px;
}

