html,body {
    text-align:center;
    height:100%;
    width:100%;
    display:flex;
    justify-content: center
}

table.dataTable.select tbody tr,
table.dataTable thead th:first-child {
  cursor: pointer;
}

body{
    padding-top: 70px;
}

.inheritHeight{
    height:inherit;
    margin-bottom: 0;
}
}

.placeAboveOtherDivs{
    position:absolute;
    top:0;
}

.maxWidth{
    width:100%;
}

.flexDisplay{
    display:flex;
}

.boldBor

#logbtn{
    margin-top: -5px;
}
#logout{
    /*Adjust the button abit to be inline to the text welcome*/
    margin-top: -3px;
}

#logAnchor{
    height:50px;
}

.containerMain{
    height: 102%;
   width:100%;
   overflow-y:auto;
   overflow-x:hidden;
   margin-top:-15px;
}
.overflowXaxis{
    overflow-x:auto;
}

.removeBtmMargin{
    margin-bottom:0;
}

.maxHeight{
    height:100%;
     margin-bottom:0;
}
.maxHeightWithButtonSpaceBelow{
    height:75%;
     margin-bottom:0;
}
.navbar-default{
    margin-bottom:0;
}
/*Above are general settings*/

/*For Content settings*/
.btn-group{
   margin: 8px 12px;
}

.vertical-center {
  display: flex;
  align-items: center;
}
.contentNav {
  display: inline-block;
  float: none;
  vertical-align: top;
   text-align: center;
   margin-bottom:0;
}
.tab-content {
    width:100%;
    border-radius:6px;
}

.tab-content-main{
    border:1px solid #ddd;
}

.contentCollapse {
  text-align: center;
}

.padRows{
    margin:20px !important ;
}

.toHoldElementsInContainer{
    width:100%;
    margin-top: 10px;
}
/*End Main Content Settings*/

/*For registration self register portion*/
#regContent{
    height:92%;
}

#tempField{
    display:none;
}
.userDetails{
    height:300px;
}
/*End registration self register portion*/