html,body {
    text-align:center;
    height:100%;
    width:100%;
    display:flex;
    justify-content: center
}

table.dataTable.select tbody tr,
table.dataTable thead th:first-child {
  cursor: pointer;
}

.bedNoDisplay{
    overflow-y: auto;
height: 35px;
word-wrap: normal;
background: whitesmoke;
border: solid 2px coral;
border-radius: 5px;
padding: 1px;
margin-bottom:10px;
}

.bedNoBox{
    width: 74px;
    height: 30px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    border: solid 1px burlywood;
    padding: 5px;
    background-color:#f09621;
    color:white;
    border-radius: 5px;
    display:inline-block;
}


.close {
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  color: #FFF;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.5;
  filter: alpha(opacity=50);
  text-decoration: none;
  right:0;
  top:0;
  position:absolute;
}
    .close:hover {
        color: #000000;
        text-decoration: none;
        opacity: 0.4;
    }
body{
    padding-top: 70px;
}

.inheritHeight{
    height:inherit;
    margin-bottom: 0;
}

.placeAboveOtherDivs{
    position:absolute;
    top:0;
}

.maxWidth{
    width:100%;
}

.flexDisplay{
    display:flex;
}

.boldBor

#logbtn{
    margin-top: -5px;
}
#logout{
    /*Adjust the button abit to be inline to the text welcome*/
    margin-top: -3px;
}

#logAnchor{
    height:50px;
}

.containerMain{
    height: 102%;
   width:100%;
   overflow-y:auto;
   overflow-x:hidden;
   margin-top:-15px;

}
.overflowXaxis{
    overflow-x:auto;
}

.removeBtmMargin{
    margin-bottom:0;
}

.maxHeight{
    height:100%;
     margin-bottom:0;
}
.maxHeightWithButtonSpaceBelow{
    height:75%;
     margin-bottom:0;
}
.navbar-default{
    margin-bottom:0;
}
/*Above are general settings*/

/*For Content settings*/
.btn-group{
   margin: 8px 12px;
}

.vertical-center {
  display: flex;
  align-items: center;
}
.contentNav {
  display: inline-block;
  float: none;
  vertical-align: top;
   text-align: center;
   margin-bottom:0;
}
.tab-content {
    width:100%;
    border-radius:6px;
}

.tab-content-main{
    border:1px solid #ddd;
}

.contentCollapse {
  text-align: center;
}

.padRows{
    margin:20px !important ;
}

.toHoldElementsInContainer{
    width:100%;
    margin-top: 10px;
}
/*End Main Content Settings*/

/*For registration self register portion*/
#regContent{
    height:92%;
}

#tempField{
    display:none;
}
.userDetails{
    height:300px;
    overflow-y:auto;
}
/*End registration self register portion*/