.dashedBorderAbsolute{
    border:1px dashed black;
    color:black;
     margin:1px;
     padding:1px;
     position:absolute !important;
}

ui-icon {
    width: 12px !important;
    height: 12px !important;
    background-image: url(images/ui-icons_222222_256x240.png);
}

.forceAbsolute{
    position:absolute !important;
}