body {
}

.modal {
  text-align: center;
  padding: 0!important;
}



.modal:before {
  content: '';
  color:pink;
  color:black;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
           
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.textOpt
{
 font-weight:bold; color:#000000;letter-spacing:1pt;word-spacing:2pt;font-size:14px;text-align:right;font-family:arial, helvetica, sans-serif;line-height:1;
}

.userTextScan{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 3em;
    height: 2em;
}

.divTerminal:hover{
    background-color:silver;
}