<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <connectionStrings>
    <!--<add name="offlineConnection" connectionString="Server=tcp:stepwise.database.windows.net,1433;Initial Catalog=stepwise;Persist Security Info=False;User ID=gbadmin;Password=Grizzly2017;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>-->
    <!--<add name="patientConnection" connectionString="Server=tcp:150.200.1.227,1433;Initial Catalog=AMKH_InhouseDB;Persist Security Info=False;User ID=triage;Password=triage;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>-->
    <!--<add name="offlineConnection" connectionString="Data Source=ALOYSIUS;Initial Catalog=thkhdb;Integrated Security=SSPI;"/>-->
    <add name="offlineConnection" connectionString="Data Source=DESKTOP-6JEUP8B\SQLEXPRESS;Initial Catalog=thkhdb;Integrated Security=SSPI;"/>
    <!--<add name="offlineConnection" connectionString="Data Source=FRIEDETHINKPAD\SQLEXPRESS;Initial Catalog=thkhdb;Integrated Security=SSPI;"/>-->
    <!--<add name="offlineConnection" connectionString="Data Source=JASON\SQLEXPRESS;Initial Catalog=thkhdb;Integrated Security=SSPI;"/>-->
  </connectionStrings>
  
  <location path="Webpage/SelfReg/SelfRegister.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Webpage/Staff/TerminalCheckIn.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Webpage/Staff/TerminalCalls/TerminalCheck.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
 
  <location path="Webpage/Staff/CheckInOut/checkIn.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Webpage/Staff/MasterConfig/masterConfig.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <globalization culture="en-GB" uiCulture="en-GB" />
    <authentication mode="Forms">
      <forms name=".login" loginUrl="~/Webpage/Staff/Login.aspx" protection="None" path="/" slidingExpiration="false"/>
    </authentication>
    <authorization>
      <deny users="?"/>
      
    </authorization>
    
    <customErrors mode="On" defaultRedirect="~/Webpage/Staff/Login.aspx" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>